.container_stack{
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	width: 70%;
	justify-content: space-around;
	margin-top: 50px;
	margin-bottom: 50px;
}
h1{
	text-align: center;
}
table,th{
	border: 1px solid red;
	border-collapse: collapse;
	text-align: center;
}
th{
	height: 50;
	width: 50;
	background-color: black;
	color: whitesmoke;
}
body{
	background-color: dimgrey;
}